.container {
    border:solid 2px indigo;
    margin-top:10px;
    padding: 5px;
    width:50%;
    color: navy;
    background-color: lightgrey;

}

button {
    width: 50px;
    height: 40px;
    margin-left: 5px;
    color:rgb(4, 4, 15);
    border: solid 1px black;
    background-color: rgb(146, 53, 150);
    text-emphasis:bold;
    font-size: 20;

}

body {
    background-color: rgb(125, 95, 131);
}